@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

body { 
    height: 100vh;
    color: #4F4F4F;
 }

.container-fluid { max-width: 375px; }

/** ---------------------------- HEADING  -------------------------------------- **/
.homepage__navigation .navbar .container-fluid  {
    max-width: 100%;
}

.homepage__navigation .navbar .navbar-brand, .footer__socialMedia .navbar-brand { 
    font-size: 36px;
    font-family: 'Heebo', sans-serif;
 }

/* MOBILE */
.homepage__navigation #mobile-menu .nav-link { color: #100e1dbb;}
.homepage__navigation #mobile-menu .nav-link:hover { color:#FFF;}

/* DESK */
.homepage__navigation #desk-menu { display: none; }

.homepage__navigation #desk-menu .nav-body{ 
    position: absolute;
    padding-right: 2.5rem;
    right: 0;
}

/** ---------------------------- MAIN ------------------------------------------- **/
.homepage { 
    margin-top: 100px;
    display: grid;
}

/** -------------------------- HOME SECTION ------------------------------------ **/

/*HEADINGS*/
.home__heading h1 { color: #2D9CDB; }
.home__heading h3 { max-width: 270px; }

.home__heading h1, .home__content p { font-size: 12px; }

/*HEROIMG*/
.home__heroImg  {
    margin-left: 20px;
    width: 420px;
    height: 150px;
}

/*TEXT*/
.home__content h3 { max-width: 220px; }
.home__content p { max-width: 270px; }

/** ------------------------ HOME FORM --------------------------------- **/

/*FORM:LABEL*/
.home__subscription .form-label, .homepage__footer .footer__subscription .form-label { 
    font-size: 10px;
    color:#828282;
}

/*FORM:IMPUT*/
.home__subscription .form-control, .homepage__footer .footer__subscription .form-control {
    max-width: 291px;
    height: 47px;
    background-color: #F2F2F2;
}

.home__subscription .form-control::placeholder,  .homepage__footer .footer__subscription .form-control::placeholder {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
}

/*FORM:BTN*/
.home__subscription .btn, .homepage__footer .footer__subscription .btn {
    position: absolute;
    width: 71px;
    height: 39px;
    color: #F2F2F2;
    background-color: #2D9CDB;
}
.home__subscription .btn:hover, .homepage__footer .footer__subscription .btn:hover {
    background-color: #0a71ad;
    color: #FFF;
}

.home__subscription .btn {
    top: 44px;
    right: 150px;
}

.home__subscription .form-control, .homepage .btn, 
.homepage__footer .footer__subscription .form-control, 
.homepage__footer .footer__subscription .btn  
{ border-radius: 12px; }

/** -------------------------- SERVICES SECTION ------------------------------------ **/
.homepage__services .services__card .card-text { max-width: 275px; }

.services__card .card { max-width: 24rem; }

.services__card .card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 30px 0px #3333331A;
}

.services__card .card .card-icon {
    width: 50px;
    height: 50px;
} 

.services__card .card .card-icon i  {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

 
.services__card .card .card-icon img {
    width: 34px;
    height: 34px;
    fill: #FFFF;
} 
 
.services__card .card .card-body a.btn {
    width: 130px;
    height: 42px;
    transition: .3s; 
    padding-top: 8px;
    color: #828282;
    background-color: #E0E0E0;
} 
 
 
.card .card-body a.btn:hover {
    background-color: #2D9CDB;
    color: #FFFF;
    cursor: pointer;
}
/** -------------------------- OUR WORKER SECTION ------------------------------------ **/
.homepage__ourWork  { max-width: 375px; }

.ourwork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: -4rem;
}

.ourwork__figure .fig .img-fluid {
    max-width: 354px;
    height: 354px;
    padding-bottom: 10px;
    overflow: hidden;
}

.ourwork__figure .fig figcaption {
    color: #828282;
    font-size: 12px;
}
.ourwork__figure h3 {
    margin-top: -14px;
}

.ourWork__cta  {
    font-size: 18px;
    margin-left: 20px;
}


/** -------------------------- CLIENTS: TEAM SECTION ------------------------------------ **/
.homepage__team{
    width: 100%;
}

.team span {
    font-size: 18px;
    color: #EB5757;
}

.team h2 {
    font-size: 36px;
    color: #333333;
}

/* clients-img*/
.team__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
} 
.team__imgs .img1, .img2, .img3 { 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
 }

.team__imgs .img1 {
    background-image: url('img/person3.png');
    width: 180px;
    height: 180px;
}
.team__imgs .img2 {
    background-image: url('img/person1.png');
    width: 145px;
    height: 145px;
    margin-bottom: 10px;
}
.team__imgs .img3 {
    background-image: url('img/person2.png');
    width: 163px;
    height: 168px;
}
/** -------------------------- CLIENTS: MESSAGE SECTION ------------------------------------ **/
.homepage__clients--message p {
    max-width: 351px;
    height: 180px;
    font-size: 24px;
}
.homepage__clients--message p, h4 {
    font-size: 24px;
}
.clients__profile img {
    max-width: 100px;
    height: 80px;
}

.clients__profile spam {
    font-size: 18px;
    color: #828282;
}

/** -------------------------- FOOTER ------------------------------------ **/

.homepage__footer { background-color: #100E1D; }

.footer__contact, .footer__socialMedia, .footer__subscription { margin-left: 40px; }
 
.footer__subscription .btn {
    top: 34px;
    right: 156px;
}

.footer__author {
    text-align: center;
    color: #F2F2F2;
    font-size: 14px;
}

/** ------------- DESK MQ --------------------- **/
@media (min-width:700px) {
    .container-fluid { min-width: 1200px; }

    /** ----- MENU ----- **/
    .homepage__navigation #desk-menu { display: block; }
    .homepage__navigation #desk-menu .navbar-brand { 
        padding-left: 72px;
        font-size: 36px
     }
    .homepage__navigation #desk-menu .nav-link { color: #333333;}
    .homepage__navigation #desk-menu .nav-link:hover { color:#2D9CDB;}

    .homepage__navigation #mobile-menu { display: none; }

    /** ----- MAIN SECTION ----- **/

    .homepage { margin-top: 150px; }

    /*HOMEPAGE: CONTAINERS*/
    .home__heading, .home__content, .home__subscription { padding-left: 10.5em; }
    .home__heading h3, .home__content h3  { 
        margin: 34px 0;
        font-size: 48px; 
    } 
    .home__heading h1, .home__content p { font-size: 18px; } 
    .home__heading h3 { max-width: 534px; }
    .home__content h3 { max-width: 350px; }

    /*HOMEPAGE: IMG*/
    .home__heroImg {
        margin-left: -2rem;
        width: 1200px;
        height: auto;
    }

    /*HOMEPAGE: TEXT*/
    .home__content p { max-width: 370px; }
    
    /*FORM:CONTAINER*/
    .home__subscription div, .homepage__footer .footer__subscription .form-control { 
        max-width: 350px;
        max-height: 50px;
     }
    .home__subscription .form-label  { font-size: 14px;}
    .home__subscription .form-control::placeholder,  .home__subscription .btn { font-size: 18px; }
    .home__subscription .btn { 
        top: 50px;
        right: 64px; 
    }

    /** ----- SERVICES SECTION ----- **/
    .homepage__services {
        padding: 6rem 0;
    }
    .services__card .card .card-icon i { 
        font-size: 34px;
        margin-left: 8px;
        margin-top: 8px;
    }    

    .homepage__services h2, .homepage__ourWork h2, .homepage__clients--message p { font-size: 36px; }

    
    /** ----- OUR WORKER ----- **/
    .homepage__ourWork { 
        min-width: 1200px;
    }
    
    .ourwork .smarthome { margin-top: 10.50rem; }
    .ourwork .booking { margin-top: 3rem; }
    .ourwork .juiceProduct { margin-top: -6.25rem; }

    .ourwork__figure .fig .img-fluid {
        min-width: 544px;
        height: 544px;
    }

    .ourwork__figure .fig figcaption { font-size: 14px; }
    .ourwork__figure h3 { font-size: 22px; }


    .ourWork__cta  {
        text-align: right;
        font-size: 20px;
    }

    /** ----- CLIENTS & TEAM----- **/
    .home__clients {
        margin-top: 6rem;
    }
    /* team */
    .team__imgs .img1 {
        width: 320px;
        height: 320px;
    }
    .team__imgs .img2 {
        width: 260px;
        height: 260px;
    }

    .team__imgs .img3 {
        width: 292px;
        height: 300px;
    }    

    /* clients */
    .homepage__clients--message p { min-width: 900px; }

    /** ----- FOOTER ----- **/
    .homepage__footer {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-auto-rows: 200px;
        grid-template-areas: 
        "contact socialMedia subscription"
        "author author author";
        gap: .7em;
        justify-content: space-around;
    }

    
    .footer__contact { grid-area: contact; }

    .footer__socialMedia { grid-area: socialMedia; }

    .footer__subscription {
        grid-area: subscription;
        margin-top: 40px;
    }

    .footer__subscription .btn {
        top: 34px;
        right: 4px;
    }

    .footer__contact, .footer__socialMedia, .footer__subscription { margin-left: 0; }

    .footer__author { 
        grid-area: author; 
        margin-top: 120px;
    }
 

}





