@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    width: 100%;
}

main { max-width: 375px; }

i.bi-star-fill { color: #F5C044; }

i.bi-check-lg {
    background-color: #4CA154;
    padding: 0.065rem;
}

i.bi-check-lg { font-size: 0.75rem; }

.info { max-width: 560px; }

.info .logo {
    position: relative;
    margin-left: 12px;
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
    background-color: #F5C044;
}

.info .logo img {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 24px;
    height: 24px;
}

.info .content .paragraph{
    font-size: 1rem;
    padding: 10px 0.5rem 10px 1rem;
}

.info .content { margin-top: -10px; }

.content .paragraph, .list, .google-reviewer p, .meta-reviewer p {  color: hsla(240, 5%, 34%, 0.794);}

.list ul li {
    font-size: 0.875rem;
    padding: 0 1rem;
}

.reviewers {width: 100%;}

.reviewers .google-reviewer, .meta-reviewer { 
    width: 100%;
    padding: 10px 2rem;
}
.reviewers .google-reviewer .user-name { margin-top: -24px;}
.reviewers .meta-reviewer .user-name { margin-top: -10px;}


@media (min-width:600px) {
    main {
        display: flex;
        flex-direction: row;
        min-width: 1200px;
    }

    .info .logo { margin-left: 2rem;}

    .info .content .title { padding: 0 1rem; }

    .info .content .paragraph{
        font-size: 1.25rem;
        padding: 10px 2rem;
    }

    .list ul li { padding: 0 2rem;}
    
    .reviewers .google-reviewer, .meta-reviewer { 
        width: 320px;
        padding: 10px 2rem;
    }

    .google-reviewer { align-self: flex-end;}
    .meta-reviewer {margin-top: 20px;}

}